/* estilos index.html  */
 
.center {
    text-align: center;
}

.container {
    display: flex;
    /*flex-flow: row;*/
    justify-content: center;
    align-items: center;
}


/* estilos compartilhamento. html */